{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

{% load static %}

<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <div class='m-6'>
        <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Sobre mí</p>
        {% comment %} <p class='text-2xl font-bold grid place-items-center mb-8'>Sobre mí</p> {% endcomment %}
        <p class='text-justify'>
            &#128075; Hola,<br><br>

            Mi nombre es Antonio y soy un desarrollador junior con muchas ganas de aprender y colaborar en proyectos en los que pueda aportar mi experiencia y desarrollar nuevas habilidades.<br><br>

            Realicé el Grado de Ingeniería Informática en Ingeniería del Software en la Universidad de Extremadura, donde adquirí una sólida base en programación y desarrollo de software. Principalmente aprendí los lenguajes de progrmación C++, Java y Python.<br><br>
            
            Tras completar la universidad trabajé en una empresa dedicada a la gestión del ciclo integral del agua en pueblos de Extremadura. <br>
            Mi trabajo consistió en realizar un desarrollo desde cero de una Oficina Virtual para que los abonados a este servicio puedan realizar trámites adminastrativos
            de forma online. Además, pueden ver la información acerca de sus contratos, descargar y pagar facturas, notificar averías en el servicio y subir lecturas de su contador de agua.<br>
            Este desarrollo fue tanto para un entorno web como para una aplicación móvil. Para la aplicación móvil utilicé Flutter y para el desarrollo web utilicé Django, Django Rest Framework, PostgreSQL y Docker.<br><br>

            En mi tiempo libre me gusta aprender nuevas tecnologías y mejorar mis habilidades. Me encanta la programación y disfruto resolviendo problemas complejos. Me gusta trabajar en equipo y colaborar con otros desarrolladores para crear soluciones innovadoras.<br><br>
            
            Actualmente me encuentro aprendiendo y realizando proyectos con React y Node JS . Estos son los <span class='group text-cyan-200'><a href='/projects' class='bg-left-bottom bg-gradient-to-r from-cyan-300 to-blue-500 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out'>proyectos.</a></span><br><br>
            
            Especialmente me encanta el desarrollo de backend para proyectos ya sea utilizando Django Rest Framework, FastAPI o Node JS.<br><br>
            
        </p>
        <div class='my-10'>
            <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Skills</p>
            {% comment %} <p class='text-2xl font-bold grid place-items-center mb-8'>Skills</p> {% endcomment %}
            <div class='grid grid-cols-1 md:grid-cols-2 md:space-x-4 lg:space-x-10'>
                <div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Python</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="py bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Java</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="java bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">C++</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="cplus bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">SQL</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="sql bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                </div>

                <div>
                    <div class='my-3'>
                        <p class="progress-bar text-base font-medium my-3">NodeJS</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="nodejs bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Desarrollo Web</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="dweb bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="progress-bar text-base font-medium my-3">React</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="react bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                    <div class='my-3'>
                        <p class="text-base font-medium my-3">Flutter</p>
                        <div class="progress-bar w-full md:w-80 lg:w-full bg-gray-700 rounded-full h-2.5">
                            <div class="flutter bg-gradient-to-r from-cyan-300 to-blue-600 h-2.5 rounded-full" style="width: 0%"></div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    

        {# --- Nueva Sección: Educación y Experiencia (Línea de Tiempo) --- #}
        <div class='my-10'>
            <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Educación y Experiencia</p>
            <div class="relative wrap overflow-hidden p-10 h-full">
                {# Elemento 1 de la línea de tiempo (lado derecho) #}
                <div class="mb-8 flex justify-between items-center w-full right-timeline">
                    <div class="order-1 w-5/12"></div> {# Espacio vacío para alinear #}
                    {# Ícono/Punto en la línea #}
                    <div class="z-20 flex items-center order-1 bg-blue-600 shadow-xl w-9 h-9 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="mx-auto w-7 h-7">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
                        </svg>
                    </div>

                    {# Contenido de la tarjeta (lado derecho) #}
                    <div class="order-1 bg-gray-700 rounded-lg shadow-xl w-5/12 px-6 py-4">
                        <h3 class="mb-3 font-bold text-blue-300 text-xl">Ambling Ingeniería y Servicios S.L.</h3>
                        <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">oct. 2023 - dic. 2024</p>
                        <p class="text-sm leading-snug tracking-wide text-gray-300 text-opacity-100 mt-2">Desarrollo de Oficina Virtual para clientes del servico del agua de la Mancomunidad de Aguas del Ayuela para hacer trámites administrativos de forma online (alta/baja del servicio, cambio de domiciliación, cambio de titularidad), notificar averías, añadir lecturas de contador de agua.</p>
                        <p class="text-sm leading-snug tracking-wide text-gray-300 text-opacity-100 mt-2 flex flex-wrap items-center gap-2">
                            <span>Tecnologías utilizadas:</span>          
                            <img src="{% static 'portfolio\icons\django-svgrepo-com.svg' %}" alt="Django" class="w-20 h-20 inline" title="Django" />
                            <img src="{% static 'portfolio\icons\django-svgrepo-com.svg' %}" alt="Django REST Framework" class="w-20 h-20 inline" title="Django REST Framework" />
                            <img src="{% static 'portfolio\icons\flutter-svgrepo-com.svg' %} " alt="Flutter" class="w-20 h-20 inline" title="Flutter" />
                            <img src="{% static 'portfolio\icons\postgresql-logo-svgrepo-com.svg' %}" alt="PostgreSQL" class="w-10 h-10 inline" title="PostgreSQL" />
                            <img src="{% static 'portfolio\icons\docker-svgrepo-com.svg' %}" alt="Docker" class="w-20 h-20 inline" title="Docker" />
                        </p>
                        {# Enlace "Ver más" si aplica #}
                        <a href="#" class="text-blue-400 hover:underline text-sm mt-3 inline-block">Ver más &rarr;</a>
                    </div>
                </div>
                {# Elemento 2 de la línea de tiempo (lado izquierdo) #}
                <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                    <div class="order-1 w-5/12"></div> {# Espacio vacío para alinear #}
                     {# Ícono/Punto en la línea #}
                    <div class="z-20 flex items-center order-1 bg-blue-600 shadow-xl w-9 h-9 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="mx-auto w-7 h-7">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                        </svg>
                    </div>

                    {# Contenido de la tarjeta (lado izquierdo) #}
                    <div class="order-1 bg-gray-700 rounded-lg shadow-xl w-5/12 px-6 py-4">
                         <h3 class="mb-3 font-bold text-blue-300 text-xl">Grupo de Ingeniería de Medios</h3>
                         <h4 class="mb-2 font-medium text-blue-300">Prácticas Universitarias</h4>
                         <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">mar. 2023 - may. 2023</p>
                         <p class="text-sm leading-snug tracking-wide text-gray-300 text-opacity-100 mt-2">Migración de web de Joomla a Wordpress y desarrollo de la nueva web corporativa.</p>
                         {# Enlace "Ver más" si aplica #}
                         {% comment %} <a href="#" class="text-blue-400 hover:underline text-sm mt-3 inline-block">Ver más &rarr;</a> {% endcomment %}
                    </div>
                </div>
                 {# Puedes añadir más elementos de la línea de tiempo aquí alternando las clases right-timeline y left-timeline #}
                 {# Elemento 3 (derecha) #}
                 <div class="mb-8 flex justify-between items-center w-full right-timeline">
                     <div class="order-1 w-5/12"></div>
                     <div class="z-20 flex items-center order-1 bg-blue-600 shadow-xl w-9 h-9 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="mx-auto w-7 h-7">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                        </svg>
                    </div>

                     <div class="order-1 bg-gray-700 rounded-lg shadow-xl w-5/12 px-6 py-4">
                         <h3 class="mb-3 font-bold text-blue-300 text-xl">Grado en Ingeniería Informática en Ingeniería del Software</h3>
                         <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">sept. 2016 - jul. 2023</p>
                         <p class="text-sm leading-snug tracking-wide text-gray-300 text-opacity-100 mt-2">Aprendí sobre programación, bases de datos, desarrollo web y móvil, y gestión de proyectos.</p>
                     </div>
                 </div>
            </div>
        </div>
        {# --- Fin Nueva Sección --- #}
    </div>

    <style>
        /* Estilos de barras de progreso (los que ya tenías) */
        .progress-bar > div {
             /* Asegúrate de que la animación no sobrescriba el ancho inline */
             /* Puedes quitar la animación si prefieres controlar el ancho solo con style="width: X%" */
        }
        .dweb { animation: dweb-animation 3s normal forwards; }
        @keyframes dweb-animation { 0% { width: 0%; } 100% { width: 75%; }}
        .flutter { animation: flutter-animation 3s normal forwards; }
        @keyframes flutter-animation { 0% { width: 0%; } 100% { width: 60%; }}
        .nodejs { animation: nodejs-animation 3s normal forwards; }
        @keyframes nodejs-animation { 0% { width: 0%; } 100% { width: 65%; }}
        .py { animation: py-animation 3s normal forwards; }
        @keyframes py-animation { 0% { width: 0%; } 100% { width: 90%; }}
        .java { animation: java-animation 3s normal forwards; }
        @keyframes java-animation { 0% { width: 0%; } 100% { width: 75%; }}
        .cplus { animation: cplus-animation 3s normal forwards; }
        @keyframes cplus-animation { 0% { width: 0%; } 100% { width: 75%; }}
        .sql { animation: sql-animation 3s normal forwards; }
        @keyframes sql-animation { 0% { width: 0%; } 100% { width: 80%; }}
        .react { animation: react-animation 3s normal forwards; }
        @keyframes react-animation { 0% { width: 0%; } 100% { width: 50%; }}


        /* Estilos específicos para la línea de tiempo */
        /* Ajustes para la línea vertical central */
        .wrap {
          /* Esto ayuda a contener los elementos absolutamente posicionados */
        }
        .wrap::after { /* Esto es un enfoque alternativo para la línea */
             content: '';
             position: absolute;
             width: 2px; /* Ancho de la línea */
             background-color: rgba(156, 163, 175, 0.2); /* Gris 400 con opacidad 20% */
             top: 0;
             bottom: 0;
             left: 50%; /* Centra la línea */
             margin-left: -1px; /* Ajusta para centrar exactamente */
             z-index: 10; /* Asegura que esté detrás de los puntos */
        }

        /* Ajustes para los elementos de la línea de tiempo */
        .left-timeline .order-1, .right-timeline .order-1 {
             /* Tailwind ya maneja el width y el order */
             /* Puedes añadir padding-right al de la izquierda y padding-left al de la derecha si necesitas más espacio entre la tarjeta y el centro */
        }

        /* Posicionamiento responsive para la línea de tiempo en móviles */
        @media (max-width: 768px) { /* Menos de md */
            .wrap::after {
                left: 20px; /* Mueve la línea a la izquierda en pantallas pequeñas */
                 margin-left: 0;
            }
            .left-timeline, .right-timeline {
                flex-direction: column; /* Apila elementos */
                align-items: flex-start; /* Alinea a la izquierda */
                margin-bottom: 20px; /* Espacio entre elementos apilados */
            }
             .left-timeline .order-1, .right-timeline .order-1 {
                 width: 100%; /* Tarjetas ocupan todo el ancho */
             }
            .z-20 { /* Ícono/Punto */
                 position: absolute; /* Posicionamiento absoluto respecto al item */
                 left: 12px; /* Alinea el ícono con la línea */
                 margin-top: 10px; /* Espacio desde arriba del item */
            }
            .left-timeline .order-1 { /* Tarjeta izquierda */
                 margin-left: 30px; /* Deja espacio para el ícono y la línea */
                 padding-left: 15px; /* Ajusta padding si es necesario */
            }
             .right-timeline .order-1 { /* Tarjeta derecha */
                 margin-left: 30px; /* Deja espacio para el ícono y la línea */
                 padding-left: 15px; /* Ajusta padding si es necesario */
            }
        }

    </style>
</div>

{% endblock %}